@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
    @apply text-gray-900 dark:text-white;
    }
}

@theme {
    --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;

    @keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    }
}

